<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Page Not found
        </title>
    </head>
    <body class="ds-width-full">
        <div class="ds-page">
            <p><a class="ds-skip-link" href="#main">skip to content</a></p>
            <header role="banner">
                <div class="container">
                    <a href="/">
                        <img src="{% if STATIC_URL %}{{ STATIC_URL }}{% endif %}/images/logo_icon.png" alt="{% if site_title %}{{ site_title }}{% endif %}" width="{{ SITE_LOGO_WIDTH|default:"100" }}">
                    </a>
                </div>
            </header>
            <main id="main" tabindex="-1" class="ds-stack">
                <div class="ds-card">
                    <h2>404</h2>
                    <p>Sorry, we can't find the page you were looking for.</p>
                    <p>Try going <a href="/">going to the home page and starting from there</a>.</p>
                    <p>If you think we've made a mistake, please
                        <a href="https://democracyclub.org.uk/contact/">contact us</a>.</p>
                </div>
            </main>
        </div>
    </body>
</html>
