{% extends "dc_base_naked.html" %}
{% load static %}
{% load i18n %}
{% load pipeline %}
{% block extra_site_css %}
    {% stylesheet 'styles' %}
{% endblock extra_site_css %}

{% block body_raw %}
    <body {% block body_attrs %}class="ds-width-full"{% endblock body_attrs %}>
        <div class="ds-page">
            <a class="ds-skip-link" href="#main">skip to content</a>
            {% block base_language_menu %}{% endblock base_language_menu %}
            {% block header_base %}
                <header class="ds-header">
                    <a class="ds-logo" href="/">
                        <img src="https://dc-shared-frontend-assets.s3.eu-west-2.amazonaws.com/images/logo_icon.svg"
                             alt="Democracy Club logo" width="{{ SITE_LOGO_WIDTH }}">
                        <span>{{ SITE_TITLE|default:"democracy<br>club" }}{% block language_code %}{% endblock language_code %}</span>
                    </a>
                    {% block site_menu %}{% endblock site_menu %}
                </header>
            {% endblock header_base %}

            {% block main_base %}
                <main id="main" tabindex="-1" class="ds-stack">

                    {% block messages %}
                        {% if messages %}
                            <aside class="ds-status" aria-label="Status">
                                <ul class="ds-stack">
                                    {% for message in messages %}
                                        <li {% if message.tags %}class=" {{ message.tags }} ds-status-message ds-status-{{ message.level_tag }} " {% endif %}> {{ message }} </li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        {% endif %}
                    {% endblock messages %}

                    {% block content %}
                        {% block page_content %}
                        {% endblock page_content %}
                    {% endblock content %}
                </main>
            {% endblock main_base %}

            {% block footer_base %}
                <footer class="ds-footer">
                    {% block footer_logo %}
                        {# Note we need both an inline style and width here: with CSS the design system #}
                        {# sets the width to 100% and without the default is 100% #}
                        <img src="{% static 'images/logo_icon.svg' %}" style="width:{{ SITE_LOGO_WIDTH }}px" width="{{ SITE_LOGO_WIDTH }}"
                             alt="Democracy Club logo"/>{% endblock footer_logo %}
                    {% block footer_menu %}{% endblock footer_menu %}

                    {% block mailing_list %}
                        <div class="ds-dark">
                            <a class="ds-cta ds-cta-blue" href="https://mailinglist.democracyclub.org.uk/subscription/form">
                                {% if LANGUAGE_CODE == 'cy' %}
                                    Ymunwch â'n rhestr bostio
                                {% else %}
                                    Join our mailing list
                                {% endif %}
                            </a>
                        </div>
                    {% endblock mailing_list %}
                    <div class="ds-copyright">
                        {% block footer_copyright %}
                            {% if LANGUAGE_CODE == 'cy' %}
                                {% include 'includes/cy-footer-copyright.html' %}
                            {% else %}
                                {% include 'includes/en-footer-copyright.html' %}
                            {% endif %}
                        {% endblock %}
                        {% block extra_footer_copyright_text %}
                        {% endblock extra_footer_copyright_text %}
                    </div>


                </footer>
            {% endblock footer_base %}
        </div>
        {% block extra_site_js %}
        {% endblock extra_site_js %}

        {% block in_page_javascript %}
        {% endblock in_page_javascript %}
    </body>
{% endblock body_raw %}
