{% extends "dc_base_naked.html" %}
{% load static %}
{% load pipeline %}
{% block extra_site_css %}
    {% stylesheet 'styles' %}
{% endblock extra_site_css %}


{% block body_raw %}
    <body {% block body_attrs %}class="ds-width-full"{% endblock body_attrs %}>
        <div class="ds-page">
            <a class="ds-skip-link" href="#main">skip to content</a>
            {% block base_language_menu %}{% endblock base_language_menu %}
            {% block header_base %}
                <header class="ds-header">
                    <a class="ds-logo" href="/">
                        <img src="{% static 'images/logo_icon.svg' %}" alt="{{ SITE_TITLE }}" width="72">
                        <span>{{ SITE_TITLE }}</span>
                        {% block language_code %}{% endblock language_code %}
                    </a>
                    {% block site_menu %}{% endblock site_menu %}
                </header>
            {% endblock header_base %}

            {% block main_base %}
                <main id="main" tabindex="-1" class="ds-stack">

                    {% block messages %}
                        {% if messages %}
                            <aside class="ds-status" aria-label="Status">
                                <ul class="ds-stack">
                                    {% for message in messages %}
                                        <li {% if message.tags %}class=" {{ message.tags }} ds-status-message ds-status-{{ message.level_tag }} " {% endif %}> {{ message }} </li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        {% endif %}
                    {% endblock messages %}

                    {% block content %}
                        {% block page_content %}
                        {% endblock page_content %}
                    {% endblock content %}
                </main>
            {% endblock main_base %}

            {% block footer_base %}
            {% endblock footer_base %}
        </div>

        {% block extra_site_js %}
        {% endblock extra_site_js %}

        {% block in_page_javascript %}
        {% endblock in_page_javascript %}
    </body>
{% endblock body_raw %}
