{% load static %}
<div class="ds-copyright">
    <a class="ds-logo" href="https://democracyclub.org.uk/">
        <img src="{% static 'images/logo_icon.svg' %}" width="72" alt="logo democratiaeth clwb" />
        <span class="ds-text-left">
            democratiaeth<br>clwb
        </span>

    </a>
    {% now "Y" as current_year %}
    <p>Hawlfraint &copy; {{ current_year }}</p>
    <p>Cwmni Buddiannau Cymunedol Clwb Democratiaeth</p>
    <p>Rhif cwmni: <a href="https://beta.companieshouse.gov.uk/company/09461226">09461226</a></p>
    <p class="ds-text-centered">
        Adeiladu seilwaith digidol ar gyfer democratiaeth yn yr 21ain ganrif.
    </p>
</div>
